/*

  Mixins
  Author - Andy Crone | @andycrone_
  + Popular mixins including vendor prefixes for cross-browser support

*/

// === Standard layout & styling

@mixin box-sizing($value) {
  -webkit-box-sizing: $value;
  -moz-box-sizing: $value;
  box-sizing: $value;
}
@mixin box-shadow($value) {
  -webkit-box-shadow: $value;
  -moz-box-shadow: $value;
  box-shadow: $value;
}
@mixin border-radius($value) {
  -moz-border-radius: $value;
  -webkit--radius: $value;
  border-radius: $value;
}
@mixin background-size($value) {
  -o-background-size: $value;
  -webkit-background-size: $value;
  -moz-background-size: $value;
  background-size: $value;
}
@mixin linear-gradient($angle, $gradient1, $gradient2) {
  background-color: $gradient2; /* Fallback Color */
  background-image: -webkit-gradient(
    linear,
    $angle,
    from($gradient1),
    to($gradient2)
  ); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(
    $angle,
    $gradient1,
    $gradient2
  ); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(
    $angle,
    $gradient1,
    $gradient2
  ); /* FF3.6 */
  background-image: -ms-linear-gradient(
    $angle,
    $gradient1,
    $gradient2
  ); /* IE10 */
  background-image: -o-linear-gradient(
    $angle,
    $gradient1,
    $gradient2
  ); /* Opera 11.10+ */
  background-image: linear-gradient($angle, $gradient1, $gradient2);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=$angle,StartColorStr='#{$gradient1}', EndColorStr='#{$gradient2}');
}

// === Animations

@mixin transition($value) {
  -webkit-transition: $value;
  transition: $value;
}
@mixin transform($value) {
  -o-transform: $value;
  -ms-transform: $value;
  -webkit-transform: $value;
  transform: $value;
}
@mixin transform-origin($value) {
  -o-transform-origin: $value;
  -ms-transform-origin: $value;
  -webkit-transform-origin: $value;
  transform-origin: $value;
}
@mixin animation($name, $duration, $timing, $type) {
  -o-animation: $name $duration $timing $type;
  -moz-animation: $name $duration $timing $type;
  -webkit-animation: $name $duration $timing $type;
  animation: $name $duration $timing $type;
}
@mixin animation-delay($value) {
  -o-animation: $value;
  -moz-animation: $value;
  -webkit-animation: $value;
  animation: $value;
}
@mixin keyframes($value) {
  @-webkit-keyframes #{$value} {
    @content;
  }
  @-moz-keyframes #{$value} {
    @content;
  }
  @-o-keyframes #{$value} {
    @content;
  }
  @keyframes #{$value} {
    @content;
  }
}

// === Filters

@mixin filter($value) {
  -o-filter: $value;
  -ms-filter: $value;
  -webkit-filter: $value;
  -moz-filter: $value;
  filter: $value;
}

// === Browser mods

@mixin appearance($value) {
  -moz-appearance: $value;
  -webkit-appearance: $value;
  appearance: $value;
}
@mixin user-select($value) {
  -webkit-touch-callout: $value;
  -webkit-user-select: $value;
  -khtml-user-select: $value;
  -moz-user-select: $value;
  -ms-user-select: $value;
  user-select: $value;
}

///////////////////////////////////
//      Variables & mixins       //
///////////////////////////////////

$side-bg-color: #fff;
$main-bg-color: #fff;
$side-color: #fff;
$main-color: #333;
$border-color: #bbb;
$h2-color: #069;
$left-width: min(400px, max(310px, 25%));
$right-width: max(calc(100% - 400px), min(75%, calc(100% - 310px)));

%h2 {
  font-size: 1.4em;
  font-weight: 400;
  text-transform: uppercase;
  color: $h2-color;
}

////////////////////////////
//         Fonts          //
////////////////////////////

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-SemiBold.ttf");
  font-weight: 600;
}

//////////////////////////////
//      General Styles      //
//////////////////////////////

* {
  @include box-sizing(border-box);
}
body,
html,
main {
  height: 100%;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  background-color: $side-bg-color;
}
a {
  @include transition(all 0.3s ease);
}

//////////////////////////
//       Sidebar        //
//////////////////////////

.sidebar {
  width: $left-width;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  overflow-y: scroll;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  background-color: rgba(0, 0, 0, 0.7);
  padding: 2em 1em 1em;
  color: $side-color;
  &::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    min-height: 700px;
  }
}

.logo {
  &__box {
    position: relative;
    margin-left: -0.2em;
    width: 100%;
    border: 1px solid $side-color;
    text-align: center;
  }
  &__border {
    outline: 1px solid $side-color;
    position: absolute;
    top: 0.4em;
    left: 0.4em;
    height: 100%;
    width: 100%;
  }
  &__h1 {
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.7;
    letter-spacing: 0.05em;
    padding: 0.6em 0.2em 0.6em 0.5em;
  }
}

.contacts {
  margin-top: 4em;
  &__name {
    margin-bottom: 0.5em;
    text-align: center;
    font-size: 1.2em;
    line-height: 1.4;
  }
}

.phone {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-right: 1rem;

  &__img {
    background: url("../images/phone.svg") center / cover;
    margin-top: 0.4em;
    width: 2.5em;
    height: 2.5em;
  }

  &__tel {
    font-size: 1.1em;
    color: $side-color;
    text-decoration: none;
  }
}

.sidebar-email {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-right: 1rem;

  &__img {
    background: url("../images/mail.svg") no-repeat center / contain;
    margin-top: 0.2em;
    margin-right: 0.3em;
    width: 2.5em;
    height: 1.5em;
    color: $side-color;
  }

  &__text {
    font-size: 1.1em;
    color: $side-color;
    text-decoration: none;
  }
}

.nav {
  &__ul {
    width: max-content;
    margin: 0 auto;
    padding-right: 1em;
    list-style: none;
    line-height: 2.5;
    font-size: 1.2em;
    letter-spacing: 0.1em;
    text-align: right;
  }
  &__span {
    @include transition(0.5s);
    position: relative;
    padding-right: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    color: $side-color;
    cursor: pointer;

    &:after {
      position: absolute;
      content: "\2BC8";
      opacity: 0;
      right: -0.7em;
      @include transition(0.5s);
    }

    &_active {
      padding-left: 1rem;
      padding-right: 0;
      &:after {
        opacity: 1;
        @include transition(0.5s);
        right: -1.5em;
      }
    }
  }
  &__span:hover {
    padding-left: 1rem;
    padding-right: 0;
    &:after {
      opacity: 1;
      @include transition(0.5s);
      right: -1.5em;
    }
  }
}

.footer {
  text-align: center;
  font-size: 0.9em;
}

/////////////////////////
//     Main - Intro    //
/////////////////////////

.intro {
  padding: 8em 10em 5em $left-width;
  height: 100%;
  background-image: url("../images/header.jpg");
  @include background-size(cover);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  &__block {
    max-width: 27em;
    margin: 0 0 auto auto;
    padding: 3em 2em 2em;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #fff;
  }
  &__h2 {
    @extend %h2;
  }
  &__p {
    line-height: 1.7;
    font-size: 1.2em;
    color: $main-color;
  }
}

///////////////////////////
//         Main          //
///////////////////////////

.section {
  width: $right-width;
  height: fit-content;
  background-color: $main-bg-color;
  margin-right: 0;
  margin-left: auto;
  padding: 0 2em;
}

.service {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 1em;
  &__division {
    padding: 2em;
  }
  &__h2 {
    padding-left: 2em;
    line-height: 1.3;
    @extend %h2;
    &_no-indent {
      padding-left: 0;
    }
  }
  &__p {
    margin: 0;
    line-height: 1.5;
    text-indent: 1.5em;
    color: $main-color;
  }
}

.experience {
  margin: 3em auto;
  width: 50%;
  &__body {
    position: relative;
    border: 1px solid $border-color;
    padding: 0.4em 0.2em 0 1.4em;
  }
  &__border {
    outline: 1px solid $border-color;
    position: absolute;
    top: 0.6em;
    left: 0.6em;
    height: 100%;
    width: 100%;
  }
  &__h2 {
    @extend %h2;
    text-align: center;
  }
  &__p {
    color: $main-color;
    line-height: 1.5;
  }
}

.message {
  display: grid;
  grid-template-columns: 3fr 4fr;
  padding: 5em 2em;

  &__description {
    position: relative;
    border: 1px solid $border-color;
    margin: 1em 0 auto;
    padding: 0 0 0 1em;
  }

  &__border {
    outline: 1px solid $border-color;
    position: absolute;
    top: 0.4em;
    left: 0.4em;
    width: 100%;
    height: 100%;
  }

  &__h2 {
    @extend %h2;
    text-align: center;
  }
  &__p {
    color: $main-color;
    line-height: 1.5;
  }
  &__form {
    margin-left: 3em;
    // padding: 0 3em 0 5em;
  }
  &__input {
    width: 100%;
    border: none;
    border-bottom: 1px solid $border-color;
    font-size: 1em;
    color: $main-color;
    padding: 0.5em;
    margin-bottom: 1em;
    &:focus {
      outline: none;
      &:not(.message__btn) {
        border-bottom: 1px solid $h2-color;
      }
    }
  }
  &__btn {
    background-color: $main-bg-color;
    margin: 0 0 0 auto;
    display: block;
    width: 8em;
    font-size: 1.1em;
    line-height: 1.5;
    transition: 0.3s;
    &:hover {
      cursor: pointer;
      background-color: $h2-color;
      color: $side-color;
      transition: 0.3s;
    }
  }
}

.invisible-footer {
  height:20px;
}
